In [4]:
import pandas as pd

In [5]:

df = pd.read_csv('titanic_prepared_data.csv')
df.head()

,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_0,Embarked_1,Embarked_2,FamilySize
0,0,1,22.0,7.2500,0,0,1,0,0,1,2
1,1,0,38.0,71.2833,1,0,0,1,0,0,2
2,1,0,26.0,7.9250,0,0,1,0,0,1,1
3,1,0,35.0,53.1000,1,0,0,0,0,1,2
4,0,1,35.0,8.0500,0,0,1,0,0,1,1

In [6]:

X = df.iloc[:, 1:].values
y = df.iloc[:, 0:1].values
print X.shape, y.shape

(891, 10) (891, 1)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
print X_train.shape, y_train.shape

(623, 10) (623, 1)

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
clf = LogisticRegression(C=0.08)
clf.fit(X_train, y_train.ravel()) 
y_pred_log_reg = clf.predict(X_test)
acc_log_reg = round( accuracy_score(y_pred_log_reg, y_test) * 100, 2)
print (str(acc_log_reg) + ' %')

81.34 %

In [9]:
print y_train.shape

(623, 1)

In [10]:
print y_train.ravel().shape

(623,)

In [13]:

clf2 = LogisticRegression(C=0.08)
clf2.fit(X_train, y_train.ravel()) 
y_pred_log_reg2 = clf2.predict(X_test)

In [24]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
clf = KNeighborsClassifier()
clf.fit(X_train, y_train.ravel()) 
y_pred_log_reg = clf.predict(X_test)
acc_log_reg = round( accuracy_score(y_pred_log_reg, y_test) * 100, 2)
print (str(acc_log_reg) + ' %')

71.64 %

In [15]:
from sklearn.naive_bayes import GaussianNB

In [16]:
clf = GaussianNB()

In [17]:
clf.fit(X_train, y_train.ravel())

GaussianNB(priors=None)

In [18]:
y_pred_gnb = clf.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score
acc_gnb = round(accuracy_score(y_pred_gnb, y_test) * 100, 2)
print (str(acc_gnb) + ' percent')

78.36 percent